<aside class="menuInitial hidden js-asideFavorite">
  <div class="navFavorite">
    <i class="fas fa-minus-square js-removeMenu" title="Ocultar Favoritos"></i>
    <h2 class="favorite__title">Mis Series Favoritas</h2>
    <div class="botton__delete js-buttonRemoveAll" title="Eliminar todos los favoritos">
      <span>Eliminar mis favoritos</span>
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
    <ul class="favorite__content js-listFavorite">
      </ul>
  </div>
</aside>
