<aside class="menuInitial hidden js-asideFavorite">
  <div class="favorite">
    <h2 class="favorite__title">Mis Series Favoritas</h2>
    <div class="botton__delete">
      <span>Eliminar mis favoritos</span>
      <i class="far fa-trash-alt"></i>
    </div>
    <ul class="favorite__content js-listFavorite">
<!--       <li class="favorite__list--card">
        <title class="favorite__title__list">Friends</title>
        <img
          class="favorite__card__img"
          src="https://vignette.wikia.nocookie.net/doblaje/images/6/65/250px-Friends_titles.jpg/revision/latest?cb=20171119185557&path-prefix=es"
          alt=""
        />
      </li>
      <li class="favorite__list--card">
        <title class="favorite__title__list">Friends</title>
        <img
          class="favorite__card__img"
          src="https://vignette.wikia.nocookie.net/doblaje/images/6/65/250px-Friends_titles.jpg/revision/latest?cb=20171119185557&path-prefix=es"
          alt=""
        />
      </li> -->
    </ul>
  </div>
</aside>
