<aside class="hidden js-asideFavorite">
  <div class="navFavorite">
    <h2 class="favorite__title">Mis Series Favoritas</h2>
    <div class="botton__delete">
      <span>Eliminar mis favoritos</span>
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
  <ul class="favorite__content js-listFavorite">
<!--       <li class="favorite__list--card">
        <img
          class="favorite__card__img"
          src="https://vignette.wikia.nocookie.net/doblaje/images/6/65/250px-Friends_titles.jpg/revision/latest?cb=20171119185557&path-prefix=es"
          alt=""
        />
        <h4 class="favorite__title__list">Friends</h4>
        <i class="far fa-times-circle"></i>
      </li>
      <li class="favorite__list--card">
        <img
          class="favorite__card__img"
          src="https://vignette.wikia.nocookie.net/doblaje/images/6/65/250px-Friends_titles.jpg/revision/latest?cb=20171119185557&path-prefix=es"
          alt=""
        />
        <h4 class="favorite__title__list">Friends y los 4 fantasticos</h4>
        <i class="far fa-times-circle"></i>
      </li>  -->
    </ul>
  </div>
</aside>
