<header class="headerInitial js-header">
  <i class="fas fa-star js-showFavorite" title="Mostrar mis favoritos"></i>
  <h1 class="content__title js-title">
    Buscador de series
  </h1>
  <div class="content_search">
    <label class="input_search" for="search">
      <input class="input_search js-input" type="text" id="search" />
    </label>
    <img
      class="icon__search js-search"
      src="./assets/images/music-and-multimedia.svg"
      alt="Buscador"
    />
  </div>
  <div class="tvNoiseContain">
    <img src="https://prashantsani.com/Misc/codepen/tv.svg" alt="" class="tv" />
    <div class="noiseContain">
      <div></div>
    </div>
  </div>
</header>
