/* TITLE Y SEARCH */
.contain__error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-size: 16px;
  font-family: $font-third;
  padding: 10px;
  text-align: center;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }

  @media all and (min-width: 1200px) {
    font-size: 25px;
  }
}

.text__error {
  font-family: $font-third;
  font-size: 12px;
  padding: 10px;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 16px;
  }

  @media all and (min-width: 1200px) {
    font-size: 22px;
  }
}

.gif__cat {
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid rgb(204, 188, 219);
  width: 350px;
  @media all and (min-width: 768px) {
    width: 500px;
  }
}

/* Header en la busqueda */
.header {
  width: 100%;
  height: 120px;
  background: url('../../assets/images/vintage.jpg') no-repeat center;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    height: 160px;
  }

  .tvNoiseContain {
    display: none;
  }
}

.content__title {
  cursor: pointer;
  font-size: 20px;
  font-family: $font-third;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;

  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;

  @media all and (min-width: 768px) {
    font-size: 44px;

  }

  @media all and (min-width: 1200px) {
    font-size: 44px;

  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.content_search {
  display: flex;
  width: 160px;
  border-radius: 10px;
  border: 1px solid rgb(204, 188, 219);
  background-color: rgb(240, 239, 236);
  align-self: center;

  @media all and (min-width: 768px) {
    width: 260px;
  }

}

.input_search {
  border: inherit;
  background-color: whitesmoke;
  align-items: center;
  height: 28px;
  width: 120px;
  border-radius: 10px;
  font-family: $font-primary;
  font-weight: bold;

  @media all and (min-width: 768px) {
    width: 220px;
  }

}

.icon__search {
  width: 26px;
  height: 29px;
  margin-left: 5px;
  cursor: pointer;
}

/* Header Initial */
.fa-star {
  cursor: pointer;
  font-size: 22px;
  color: rgb(204, 188, 219);
  margin-left: 10px;
  margin-top: 10px;

  @media all and (min-width: 768px) {
    font-size: 36px;
  }

  @media all and (min-width: 1200px) {
    font-size: 48px;
  }
}

.headerInitial {
  width: 100%;
  height: 100vh;
  background: url('../../assets/images/vintage.jpg') no-repeat center center;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .tvNoiseContain {
    cursor: pointer;
    position: absolute;
    top: 390px;
    left: 50%;
    width: 432px;
    height: 467px;
    overflow: hidden;
    margin: -240px 0 -10px -216px;

    @media all and (max-width: 500px){
      display: none;
    }

    @media all and(min-width: 768px){
      top: 450px;
    }

    @media all and(min-width: 1200px){
      top: 420px;
    }
  }
  .tv {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    filter: sepia(50%);
    opacity: 0.8;
  }
  .noiseContain {
    position: absolute;
    width: 290px;
    height: 240px;
    top: 189px;
    left: 27px;
    z-index: 0;
    overflow: hidden;
    opacity: 0.8;
  }
  .noiseContain div {
    background-image: url(https://prashantsani.com/Misc/codepen/noise.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    width: 400%;
    height: 400%;
    animation: noiseAnim 0.5s infinite linear alternate;
    opacity: 0.8;
  }


  @keyframes noiseAnim {
    0% {
      background-position: 10px 200px;
    }
    20% {
      background-position: -50px 0;
    }
    40% {
      background-position: 100px -10px;
    }
    60% {
      background-position: 0 -150px;
    }
    80% {
      background-position: -100px -30px;
    }
    100% {
      background-position: 160px -60px;
    }
  }
  & .content__title {
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-family: $font-third;
    color: whitesmoke;
    animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    margin-top: 30px;
    margin-bottom: 30px;

    @media all and (min-width: 768px) {
      font-size: 46px;
    }

    @media all and (min-width: 1200px) {
      text-align: center;
    }

    & .content_search {
      display: flex;
      width: 160px;
      border-radius: 10px;
      border: 1px solid rgb(204, 188, 219);
      background-color: rgb(240, 239, 236);

      @media all and (min-width: 768px) {
        width: 260px;
      }
    }

    & .input_search {
      border: inherit;
      background-color: whitesmoke;
      align-items: center;
      height: 28px;
      width: 220px;
      border-radius: 10px;
      font-family: $font-primary;
      font-weight: bold;
    }

    & .icon__search {
      width: 26px;
      height: 29px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}


/* Si el menu de mis series favoritas está activado */
.title__MenuFavorites {
  cursor: pointer;
  font-size: 20px;
  font-family: $font-third;
  font-weight: bold;
  color: whitesmoke;
  text-align: end;
  margin-right: 20px;

  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;

  @media all and (min-width: 768px) {
    font-size: 44px;

  }

  @media all and (min-width: 1200px) {
    font-size: 44px;

  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.search__menuFavorites{
  display: flex;
  width: 160px;
  border-radius: 10px;
  border: 1px solid rgb(204, 188, 219);
  background-color: rgb(240, 239, 236);
  align-self: flex-end;
  margin-right: 20px;

  @media all and (min-width: 768px) {

  }

  @media all and (min-width: 1200px) {
    width: 260px;
  }

  &.input_search {
    border: inherit;
    background-color: whitesmoke;
    align-items: center;
    height: 28px;
    width: 120px;
    border-radius: 10px;
    font-family: $font-primary;
    font-weight: bold;
  
    @media all and (min-width: 768px) {
  
    }
  
    @media all and (min-width: 1200px) {
      width: 220px;
    }
  }
}

